/* Estilos para el contenedor principal (AdminHome) */
.admin-container {
  width:auto !important;
  
}  

/* Estilos para el contenido principal */
.admin-content {
  margin-left: 300px;
  margin-top: 30px;
  margin-right: 40px;
  
}  

